/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem); /* 1rem is default value for gap */
}

.grid {
    display: grid;
    gap: var(--gap, 1rem); /* 1rem is default value for gap */
}

/* sr-only denotes Screen Reader only which means it is only for assistive technologies that are reading the page to somebody visiting the page and they 
  are visually imparied Suppose we have a button on the page that does not have a Text on it. But visually that is very clear what the button does for 
  a sighted user. but if a screen reader who is reading the page would just announce that there is a button and the visually impaired user would have 
  no idea what the button does if there is no text on it...
  so we can use the sr-only to visually hide the content for the sighted user and if a screen reader comes across it, it can give the extra content to 
  the visually imparied user using assistive technologies */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
